<div class="row">
    <div class="col-md-4 col-xl-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 1</h3>
                <small>Calculated in last 7 days</small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline">
                        <a class="nav-link">
                            <i class="material-icons md-18">&#xe863;</i>
                        </a>
                    </li>
                    <li class="nav-item inline dropdown">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe5d4;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href>Trong tuần</a>
                            <a class="dropdown-item" href>Trong tháng</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Hiện tại</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center b-t">
                <div class="row-col">
                    <div class="row-cell p-a">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="26" ui-options="{
                                                lineWidth: 15,
                                                trackColor: 'rgba(0,0,0,0.05)',
                                                barColor: '#0cc2aa',
                                                scaleColor: 'transparent',
                                                size: 100,
                                                scaleLength: 0,
                                                animate:{
                                                    duration: 3000,
                                                    enabled:true
                                                }
                                                }">
                                <div>
                                    <h5>26°C</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Nhiệt độ</a>
                        </div>
                    </div>
                    <div class="row-cell p-a dker">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="85" ui-options="{
                                                lineWidth: 15,
                                                trackColor: 'rgba(0,0,0,0.05)',
                                                barColor: '#fcc100',
                                                scaleColor: 'transparent',
                                                size: 100,
                                                scaleLength: 0,
                                                animate:{
                                                    duration: 3000,
                                                    enabled:true
                                                }
                                                }">
                                <div>
                                    <h5>85%</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Độ ẩm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 2</h3>
                <small>Calculated in last 7 days</small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline">
                        <a class="nav-link">
                            <i class="material-icons md-18">&#xe863;</i>
                        </a>
                    </li>
                    <li class="nav-item inline dropdown">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe5d4;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href>Trong tuần</a>
                            <a class="dropdown-item" href>Trong tháng</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Hiện tại</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center b-t">
                <div class="row-col">
                    <div class="row-cell p-a">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="26" ui-options="{
                                                                                    lineWidth: 15,
                                                                                    trackColor: 'rgba(0,0,0,0.05)',
                                                                                    barColor: '#0cc2aa',
                                                                                    scaleColor: 'transparent',
                                                                                    size: 100,
                                                                                    scaleLength: 0,
                                                                                    animate:{
                                                                                        duration: 3000,
                                                                                        enabled:true
                                                                                    }
                                                                                    }">
                                <div>
                                    <h5>26°C</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Nhiệt độ</a>
                        </div>
                    </div>
                    <div class="row-cell p-a dker">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="85" ui-options="{
                                                                                        lineWidth: 15,
                                                                                        trackColor: 'rgba(0,0,0,0.05)',
                                                                                        barColor: '#fcc100',
                                                                                        scaleColor: 'transparent',
                                                                                        size: 100,
                                                                                        scaleLength: 0,
                                                                                        animate:{
                                                                                        duration: 3000,
                                                                                        enabled:true
                                                                                        }
                                                                                    }">
                                <div>
                                    <h5>85%</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Độ ẩm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 3</h3>
                <small>Calculated in last 7 days</small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <li class="nav-item inline">
                        <a class="nav-link">
                            <i class="material-icons md-18">&#xe863;</i>
                        </a>
                    </li>
                    <li class="nav-item inline dropdown">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="material-icons md-18">&#xe5d4;</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-scale pull-right">
                            <a class="dropdown-item" href>Trong tuần</a>
                            <a class="dropdown-item" href>Trong tháng</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Hiện tại</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center b-t">
                <div class="row-col">
                    <div class="row-cell p-a">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="26" ui-options="{
                                                                                    lineWidth: 15,
                                                                                    trackColor: 'rgba(0,0,0,0.05)',
                                                                                    barColor: '#0cc2aa',
                                                                                    scaleColor: 'transparent',
                                                                                    size: 100,
                                                                                    scaleLength: 0,
                                                                                    animate:{
                                                                                        duration: 3000,
                                                                                        enabled:true
                                                                                    }
                                                                                    }">
                                <div>
                                    <h5>26°C</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Nhiệt độ</a>
                        </div>
                    </div>
                    <div class="row-cell p-a dker">
                        <div class="inline m-b">
                            <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color"
                                data-redraw='true' data-percent="85" ui-options="{
                                                                                    lineWidth: 15,
                                                                                    trackColor: 'rgba(0,0,0,0.05)',
                                                                                    barColor: '#fcc100',
                                                                                    scaleColor: 'transparent',
                                                                                    size: 100,
                                                                                    scaleLength: 0,
                                                                                    animate:{
                                                                                        duration: 3000,
                                                                                        enabled:true
                                                                                    }
                                                                                    }">
                                <div>
                                    <h5>85%</h5>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-sm white rounded">Độ ẩm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>