<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row">
                    <div style="margin: auto; margin-bottom: 50px; " class="col-md-8">
                        <a href="#"><img src="../assets/images/may moc.png" alt="" class="img-responsive"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-0">
                    </div>
                    <div style="margin: auto;">
                        <div class="box container_CĐ">
                            <div class="box-header text-center border_bottom">
                                <div style="font-size: 29px;" id="Mau_Auto">Chế độ hoạt động: Thủ Công</div>
                            </div>
                            <div class="box-body">
                                <div class="container_button_CĐ">
                                    <!-- div btn khoảng màu di chuyển giữa hai button -->
                                    <div id="btn_CĐ"></div>
                                    <button type="button" class="toggle-btn_CĐ" onclick="leftClick()">Thủ công</button>
                                    <button type="button" class="toggle-btn_CĐ" onclick="rightClick()">Tự động</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: auto;">
                        <div class="box container_ĐK">
                            <div class="box-header text-center border_bottom" id="Mau_Auto">
                                <div style="font-size: 29px;">Điều khiển tự động</div>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div class="container_button_ĐK">
                                    <button disabled class="button_style_ĐK" id="start">Khởi chạy</button>
                                    <button disabled class="button_style_ĐK" id="stop">Dừng</button>
                                    <button disabled class="button_style_ĐK" id="reset">Chạy lại</button>
                                </div>
                                <div id="trangthai">
                                    <p>Không hoạt động...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-2 col-sm-1">
                    </div>
                </div>
                <!-- <div class="row">
                    <div style="margin: auto;">
                        <div class="box">
                            <div class="box-header text-center border_bottom" id="Mau_Auto">
                                <div style="font-size: 29px;">Trạng thái các trạm</div>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div class="container_button_TTT">
                                    <button class="button_style_TTT" id="tram01">Trạm 01</button>
                                    <button class="button_style_TTT" id="tram02">Trạm 02</button>
                                    <button class="button_style_TTT" id="tram03">Trạm 03</button>
                                    <button class="button_style_TTT" id="tram04">Trạm 04</button>
                                    <button class="button_style_TTT" id="tram05">Trạm 05</button>
                                    <button class="button_style_TTT" id="tram06">Trạm 06</button>
                                    <button class="button_style_TTT" id="tram07">Trạm 07+08</button>
                                    <button class="button_style_TTT" id="tram09">Trạm 09</button>
                                    <button class="button_style_TTT" id="tram10">Trạm 10</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div style="margin: auto;" class="col-md-12">
                        <!-- col-md-10 offset-md-3 -->
                        <div class="box">
                            <div class="box-header text-center border_bottom" id="Mau_Auto">
                                <div style="font-size: 29px;">Trạng thái các trạm</div>
                            </div>
                            <div class="box-tool">
                                <ul class="nav">
                                    <li class="nav-item inline">
                                        <a class="nav-link">
                                            <i class="material-icons md-18">&#xe863;</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT" id="tram01">
                                                <div class="text-ellipsis">Trạm 01</div>
                                                <small>(Trạm cấp phôi tự động)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t1.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT" id="tram02">
                                                <div class="text-ellipsis">Trạm 02</div>
                                                <small>(Trạm kiểm tra sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t2.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT" id="tram03">
                                                <div class="text-ellipsis">Trạm 03</div>
                                                <small>(Trạm gia công sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t3.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 04</div>
                                                <small>(Trạm tay gắp sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t4.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 05</div>
                                                <small>(Trạm phân loại sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t8.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 06</div>
                                                <small>(Trạm trung chuyển sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t5.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 07+08</div>
                                                <small>(Trạm lắp ráp sản phẩm)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t9.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 09</div>
                                                <small>(Trạm gia công thủy lực)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t6.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-4 button_style_TTT_cha">
                                        <div class="box p-a-xs">
                                            <div class="p-a-sm button_style_TTT">
                                                <div class="text-ellipsis">Trạm 10</div>
                                                <small>(Trạm gia lưu kho tự động)</small>
                                            </div>
                                        </div>
                                        <a href="#"><img src="../assets/images/t7.png" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->
<script>
    $(document).ready(function () {

            var audio = new Audio('../assets/images/click.mp3');
            var audio2 = new Audio('../assets/images/clickUp.mp3')

            $(".toggle-btn_CĐ").mousedown(function () {
                audio2.load();
                audio2.play();
            });

            $(".toggle-btn_CĐ").mouseup(function () {
                audio.load();
                audio.play();
            });
            $(".button_style_ĐK").mousedown(function () {
                audio2.load();
                audio2.play();
            });

            $(".button_style_ĐK").mouseup(function () {
                audio.load();
                audio.play();
            });
        });
</script>