<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row column-reverse">
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div class="box-header text-center">
                                <h2 style="font-size: 29px;">Trạm 3 : Trạm Gia Công</h2>
                                <!-- <small>Calculated in last 7 days</small> -->
                            </div>
                            <div class="b-t">
                                <div class="row box-body">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="Tram1_row">
                                            (2B1) CB Vị Trí Phôi
                                            <span class="dot" id="tram3_2B1"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B2) CB Vị Trí Dập
                                            <span class="dot" id="tram3_2B2"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B3) CB Vị Trí Gia Công
                                            <span class="dot" id="tram3_2B3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B4) CB Từ Bàn Xoay
                                            <span class="dot" id="tram3_2B4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B5) CB Báo Dập Phôi
                                            <span class="dot" id="tram3_2B5"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B6) CB Yêu Cầu Cấp Phôi
                                            <span class="dot" id="tram3_2B6"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 dker">
                                        <div class="Tram1_row">
                                            (4M2) Đĩa Xoay
                                            <span class="dot" id="tram3_4M2"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3M5) Dập Phôi
                                            <span class="dot" id="tram3_3M5"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3M4) Định Vị Phôi
                                            <span class="dot" id="tram3_3M4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (4M3) Khoan
                                            <span class="dot" id="tram3_4M3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (5K4) Khoan Di Chuyển Xuống
                                            <span class="dot" id="tram3_5K4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (5K3) Khoan Di Chuyển Lên
                                            <span class="dot" id="tram3_5K3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3M6) Gạt Phôi
                                            <span class="dot" id="tram3_3M6"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3B1) Yêu Cầu Cấp Phôi
                                            <span class="dot" id="tram3_3B1"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div id="_3dTram3_HW">
                                <canvas class="_3dTram3"></canvas>
                            </div>
                            <div>
                                <button id="ban_dau" class="btn btn-outline b-info text-info">Góc ban đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->