<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row column-reverse">
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div class="box-header text-center">
                                <h2 style="font-size: 29px;">Trạm 2 : Trạm Kiểm Tra</h2>
                                <!-- <small>Calculated in last 7 days</small> -->
                            </div>
                            <div class="b-t">
                                <div class="row box-body">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="Tram1_row">
                                            (2B1) CB Báo Có Phôi
                                            <span class="dot" id="tram2_2B1"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B2) CB Màu
                                            <span class="dot" id="tram2_2B2"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (4B1) Chiều Cao Phôi
                                            <span class="dot" id="tram2_4B1"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B4) CB Vị Trí Trên
                                            <span class="dot" id="tram2_2B4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B5) CB Vị Trí Dưới
                                            <span class="dot" id="tram2_2B5"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B6) CB Xy Lanh Thu
                                            <span class="dot" id="tram2_2B6"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B3) CB An Toàn
                                            <span class="dot" id="tram2_2B3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (2B7) CB Yêu Cầu Cấp Phôi
                                            <span class="dot" id="tram2_2B7"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 dker">
                                        <div class="Tram1_row">
                                            (3PV1) Hành Trình Lên
                                            <span class="dot" id="tram2_3PV1"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3PV2) Hành Trình Xuống
                                            <span class="dot" id="tram2_3PV2"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3PV3) Xy Lanh Đẩy
                                            <span class="dot" id="tram2_3PV3"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3PV4) Xy Lanh Dẫn Phôi
                                            <span class="dot" id="tram2_3PV4"></span>
                                        </div>
                                        <div class="Tram1_row">
                                            (3B1) Yêu Cầu Cấp Phôi
                                            <span class="dot" id="tram2_3B1"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="box">
                            <div id="_3dTram2_HW">
                                <canvas class="_3dTram2"></canvas>
                            </div>
                            <div>
                                <button id="ban_dau" class="btn btn-outline b-info text-info">Góc ban đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->
