<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 1</h3>
                <small>Thông số bảo dưỡng, bảo trì thiết bị (từ 27/12/2022) </small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <button class="btn btn-sm white" id="tram1_refresh"><i class="fa fa-refresh"></i></button>
                </ul>
            </div>
            <!-- list -->
            <div class="list white">
                <div class="list-item b-l b-l-2x b-info">
                    <div class="list-body">
                        <div class="pull-right text-muted text-xs">
                            <span class="hidden-xs">Đã thay thế vào 1/1/2022</span>
                            <i class="fa fa-paperclip m-l-sm"></i>
                        </div>
                        <div>
                            <a class="_500">Xy lanh đẩy phôi</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="XLDay_1">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-warning">
                    <div class="list-body">

                        <div>
                            <a class="_500">Xy lanh quay</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="XLQuay_1">đã hoạt động ... lần</div>
                    </div>
                </div>
            </div>
            <!-- / list -->
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 2</h3>
                <small>Thông số bảo dưỡng, bảo trì thiết bị (từ 26/12/2022) </small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <button class="btn btn-sm white" id="tram2_refresh"><i class="fa fa-refresh"></i></button>
                </ul>
            </div>
            <!-- list -->
            <div class="list white">
                <div class="list-item b-l b-l-2x b-primary">
                    <div class="list-body">

                        <div>
                            <a class="_500">Xy lanh nâng hạ</a>
                            <span class="label label-xs m-l-sm text-u-c warning">Cần theo dõi</span>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="XLNangHA_2">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-warn">
                    <div class="list-body">
                        <div class="pull-right text-muted text-xs">
                            <span class="hidden-xs">Đã thay thế vào 2/1/2022</span>
                            <i class="fa fa-paperclip m-l-sm"></i>
                        </div>
                        <div>
                            <a class="_500">Van mở khí dẫn phôi</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="KhiDanPhoi_2">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-info">
                    <div class="list-body">
                        <div class="pull-right text-muted text-xs">
                            <span class="hidden-xs">Đã thay thế vào 3/6/2022</span>
                            <i class="fa fa-paperclip m-l-sm"></i>
                        </div>
                        <div>
                            <a class="_500">Xy lanh đẩy phôi</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="XLDay_2">đã hoạt động ... lần</div>
                    </div>
                </div>
            </div>

            <!-- / list -->
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="box">
            <div class="box-header">
                <h3>Trạm 3</h3>
                <small>Thông số bảo dưỡng, bảo trì thiết bị (từ 27/12/2022) </small>
            </div>
            <div class="box-tool">
                <ul class="nav">
                    <button class="btn btn-sm white" id="tram3_refresh"><i class="fa fa-refresh"></i></button>
                </ul>
            </div>
            <!-- list -->
            <div class="list white">
                <div class="list-item b-l b-l-2x b-info">
                    <div class="list-body">
                        <div class="pull-right text-muted text-xs">
                            <span class="hidden-xs">Đã thay thế vào 1/1/2022</span>
                            <i class="fa fa-paperclip m-l-sm"></i>
                        </div>
                        <div>
                            <a class="_500">Máy khoan</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="Khoan_3">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-warning">
                    <div class="list-body">

                        <div>
                            <a class="_500">Kẹp phôi</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="Kep_3">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-primary">
                    <div class="list-body">
                        <div class="pull-right text-muted text-xs">
                            <span class="hidden-xs">Đã thay thế vào 1/1/2022</span>
                            <i class="fa fa-paperclip m-l-sm"></i>
                        </div>
                        <div>
                            <a class="_500">Gạt phôi</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="Gat_3">đã hoạt động ... lần</div>
                    </div>
                </div>
                <div class="list-item b-l b-l-2x b-warn">
                    <div class="list-body">
                        <div>
                            <a class="_500">Bàn xoay</a>
                        </div>
                        <div class="text-ellipsis text-muted text-sm" id="Ban_Xoay">đã hoạt động ... lần</div>
                    </div>
                </div>
            </div>
            <!-- / list -->
        </div>
    </div>
</div>