<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="box">
                            <div id="_3dHome_HW">
                                <canvas class="_3dHome"></canvas>
                            </div>
                            <div>
                                <button id="ban_dau" class="button_3D">Góc ban đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ############ PAGE END-->

        </div>
</div>
<!-- / -->