
/*Màn hình 1*/
#screen_3DtramTQ {
    background-color: #9a9a9a;
    /* background-color: #ffffff; */
    margin-left: 220px;
    padding-inline: 20px;
    height: 100%;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
._3dHome {
    margin-block: 1px;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* mobile */
@media (max-width: 739px) {
    #screen_3DtramTQ {
        margin-left: 73px;
    }
}

/* tablet */
@media (min-width: 1239px) {
    #screen_3DtramTQ {
        height: 100%;
    }
}
.button_3D {
    height: 30px;
    padding: 3px 9px;
    background: #60caff;
    margin-block: 3px;
    margin-inline: 9px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.button_3D:active {
    background: #00387c;
}
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */