<button class="md-flat w-full h-full" type="submit" style="border-width: 0px;">
    <nav ui-nav>
        <ul class="nav">
            <li>
                <div class="b-b b m-t-sm"></div>
            </li>
            <li class="no-bg">
                <a>
                    <span class="nav-icon">
                        <i class="material-icons">&#xe8ac;</i>
                    </span>
                    <span class="nav-text">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </nav>
</button>